@model IEnumerable<Advertisement>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Advertiser> SignInManager
@inject UserManager<Advertiser> UserManager

@foreach (var adv in Model.GroupBy(n => n.Name))
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"> @adv.Key</h5>
            @foreach (var nm in adv)
            {
                <p class="card-text">@nm.Description.</p>
                <p class="card-text">@nm.Price.</p>
                @if (SignInManager.IsSignedIn(User))
                {
                    <p class="card-text">@nm.NumberOfSubscribers.</p>
                    <a href="/Home/Apply?ad=@nm.Id" class="btn btn-primary">Apply</a>

                    if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
                    {
                        <p>Subscribers:</p>
                        @foreach (var item in nm.Subscribers)
                        {
                            <p>@item.FirstName @item.LastName</p>
                        }
                    }


                }

            }
        </div>
    </div>
}
